In [1]:
%load_ext sql

In [2]:
user = 'root'
pasword = ''

In [3]:
%sql "mysql+pymysql://{user}:{pasword}@localhost/salesdb?charset=utf8"

In [4]:
connect_str = "mysql+pymysql://{user}:{pasword}@localhost/salesdb?charset=utf8"
%sql $connect_str

Traceback (most recent call last):
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 3275, in raw_connection
    return self.pool.connect()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 455, in connect
    return _ConnectionFairy._checkout(self)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 1271, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 719, in checkout
    rec = pool._do_get()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\impl.py", line 169, in _do_get
    self._dec_overflow()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\impl.py", line 166, in _do_get
    return self._create_connection()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 396, in _create_connection
    return _ConnectionRecord(self)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 681, in __init__
    self.__connect()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 906, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 901, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\create.py", line 636, in connect
    return dialect.connect(*cargs, **cparams)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\default.py", line 580, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\pymysql\connections.py", line 352, in __init__
    self.connect()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\pymysql\connections.py", line 636, in connect
    self._request_authentication()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\pymysql\connections.py", line 911, in _request_authentication
    auth_packet = self._read_packet()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\pymysql\connections.py", line 729, in _read_packet
    packet.raise_for_error()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\pymysql\protocol.py", line 221, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\pymysql\err.py", line 143, in raise_mysql_exception
    raise errorclass(errno, errval)
pymysql.err.OperationalError: (1045, "Access denied for user '{user}'@'localhost' (using password: YES)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sql\connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 3251, in connect
    return self._connection_cls(self)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 147, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 2413, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 3275, in raw_connection
    return self.pool.connect()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 455, in connect
    return _ConnectionFairy._checkout(self)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 1271, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 719, in checkout
    rec = pool._do_get()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\impl.py", line 169, in _do_get
    self._dec_overflow()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\impl.py", line 166, in _do_get
    return self._create_connection()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 396, in _create_connection
    return _ConnectionRecord(self)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 681, in __init__
    self.__connect()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 906, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 901, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\create.py", line 636, in connect
    return dialect.connect(*cargs, **cparams)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\default.py", line 580, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\pymysql\connections.py", line 352, in __init__
    self.connect()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\pymysql\connections.py", line 636, in connect
    self._request_authentication()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\pymysql\connections.py", line 911, in _request_authentication
    auth_packet = self._read_packet()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\pymysql\connections.py", line 729, in _read_packet
    packet.raise_for_error()
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\pymysql\protocol.py", line 221, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "c:\users\khoin\appdata\local\programs\python\python38\lib\site-packages\pymysql\err.py", line 143, in raise_mysql_exception
    raise errorclass(errno, errval)
sqlalchemy.exc.OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user '{user}'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/salesdb?charset=utf8'])

In [5]:
%%sql
SELECT s.City, s.CompanyName, p.ProductName, p.UnitPrice
FROM suppliers s INNER JOIN products p
                    ON s.ID = p.SupplierID
WHERE s.country = "Japan"
ORDER BY s.City

 * mysql+pymysql://root:***@localhost/salesdb?charset=utf8
6 rows affected.

[('Osaka', "Mayumi's", 'Tofu', Decimal('23.25')),
 ('Osaka', "Mayumi's", 'Konbu', Decimal('6.00')),
 ('Osaka', "Mayumi's", 'Genen Shouyu', Decimal('15.50')),
 ('Tokyo', 'Tokyo Traders', 'Longlife Tofu', Decimal('10.00')),
 ('Tokyo', 'Tokyo Traders', 'Mishi Kobe Niku', Decimal('97.00')),
 ('Tokyo', 'Tokyo Traders', 'Ikura', Decimal('31.00'))]

In [6]:
%%sql
SELECT s.Country, AVG(p.UnitPrice) AS avg_unitprice, COUNT(p.ProductName) AS count_product, Count(DISTINCT s.City) AS count_city
FROM suppliers s INNER JOIN products p
                  ON s.ID = p.SupplierID
GROUP BY s.Country
ORDER BY avg_unitprice DESC, count_product;

 * mysql+pymysql://root:***@localhost/salesdb?charset=utf8
16 rows affected.

[('Germany', Decimal('1164.219091'), 11, 3),
 ('France', Decimal('76.750000'), 5, 3),
 ('Australia', Decimal('33.831250'), 8, 2),
 ('Japan', Decimal('30.458333'), 6, 2),
 ('Spain', Decimal('29.500000'), 2, 1),
 ('Italy', Decimal('27.360000'), 5, 2),
 ('Canada', Decimal('27.312500'), 4, 2),
 ('Singapore', Decimal('26.483333'), 3, 1),
 ('UK', Decimal('22.814286'), 7, 2),
 ('USA', Decimal('20.870833'), 12, 4),
 ('Norway', Decimal('20.000000'), 3, 1),
 ('Finland', Decimal('18.083333'), 3, 1),
 ('Sweden', Decimal('18.000000'), 5, 2),
 ('Denmark', Decimal('10.750000'), 2, 1),
 ('Netherlands', Decimal('10.666667'), 3, 1),
 ('Brazil', Decimal('4.500000'), 1, 1)]